.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


h2 {
  text-align: center;
}

.buttons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons button {
  margin-right: 5px;
}
